* {
   box-sizing: border-box;
}
body {
   padding: 0px;
   margin: 0px;
   background: #fff;
}
/*----------SECTION 1----------*/

.feature-img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   padding: 0px !important;
   margin: 0px !important;
}
/*----------SECTION 2 (TOP)----------*/

.fa-arrow-circle-down {
  color: rgb(255, 236, 33);
}

.photo-gap {
   margin-top: 50px !important;
   margin-bottom: 50px !important;
}



